<div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Print.Moe
            </a>
        </div>
        <ul class="nav">
            <li  @if (ViewBag.pageName=="dashboard"){@Html.Raw("class=\"active\"") }>
                <a href="/User/Index">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li @if (ViewBag.pageName=="favorimg"){@Html.Raw("class=\"active\"") }>
                <a href="/User/FavorImg">
                    <i class="ti-user"></i>
                    <p>favorite</p>
                </a>
            </li>

            <li @if (ViewBag.pageName=="map"){@Html.Raw("class=\"active\"") }>
                <a href="/User/Select">
                    <i class="ti-map"></i>
                    <p>Select</p>
                </a>
            </li>
           
        </ul>
    </div>
</div>
